<div class="Card__Container">
    <div class="Card__Wrapper">
        <img class="Details__Avatar" [src]="Avatar" alt="Avatar_Image">

            <span class="Details__Label">ID</span>
            <span class="Details__Value">{{ID}}</span>
            <span class="Details__Label">First Name</span>
            <span class="Details__Value">{{FirstName}}</span>
            <span class="Details__Label">Last Name</span>
            <span class="Details__Value">{{LastName}}</span>

            <a class="GoBackButton" routerLink="/userslist">Go Back</a>

    </div>
</div>